<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Exercicio #3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Exercicio3</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>

        $('.btnRemove').on('click', function (ev) {
            var id = ev.currentTarget.dataset['filmeid'];

            console.log(ev);
            var linha = $("#filme_" + id);

            linha.remove();

            $(".nomeFilme").each(function (index) { $(this).attr("name", `nomeFilmes[${index}]`) });
        });

        $('#addFilme').on('click', function (ev) {
            var newId = $('div.row').length - 1;

            var newRow = `<div class="row" id="filme_{newId}" style="margin-bottom: 10px;">
                                    <div class="col-md-12">
                                        <input class="nomeFilme" name="nomeFilmes[{newId}]" value="" onchange="change_animete(event);"/>
                                        <button type="button" data-filmeId="{newId}" class="btn btn-danger btnRemove">Remover</button>
                                    </div>
                                </div>`;

            newRow = newRow.replace(/{newId}/g, newId);

            $('#actions').before(newRow);
        });

        $('.nomeFilme').on('change', function (e) {
            change_animete(e);
        });

        function change_animete(e) {
            var el = $(e.currentTarget);
            el.animate({ backgroundColor: '#55ff66' }, 100)
                .delay(100)
                .animate({ backgroundColor: 'white' }, 100);
        }
    </script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
